* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.demos{
  padding: 20px;
}
h1, h2, h3, h4{
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px 0;
}
ul {
  list-style: none;
}
ul.tab-list {
  display: flex;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
  background-color: aliceblue;
  cursor: pointer;
}
ul.tab-list li {
  line-height: 50px;
  height: 50;
  flex: 1;
}
ul.tab-list li.active {
  color: red;
}

ul.cinema-list li {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.cinema-list-wrapper {
  background-color: aquamarine;
  height: 200px;
  overflow: hidden;
}

.wrapper {
  background-color: aqua;
  height: 200px;
  overflow: hidden;
}

.film-list{
  display: flex;
}
.film-list li{
  width: 50%;
}

.fixed-btn{
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-color: aqua;
  border: 1px solid #ccc;
}

.keep-scroll-top-wraper{
  height: 100px;
  overflow: auto;
  background-color: bisque;
}