.router-links {
  display: flex;
}
.tab-active {
  color: red;
}

.app-tabbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
.films-tabs {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}
